<div class="container">
    <header class="header">
        <nav class="navbar navbar-expand-lg bg-success">
            <div class="container-fluid">
                <a href="/home"><img src="https://dollarcity.com/img/resources/logo.png"
                        alt="Logo Dollarcity"></a>

                <ul class="nav-links">
                    <li><a href="/home">HOME</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <section id="hero">
        <h1>BIENVENIDOS</h1>
        <P>
            ¿Quieres ser parte del equipo de proveedores?
        </P>
        <a href="/provider" class="button">Click aquí</a>
        </section>
    </main>

    <!-- Carousel -->
    <div class="row">
        <div id="carouselExampleInterval" class="carousel slide mt-2" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                    <img src="https://scontent.fsal5-1.fna.fbcdn.net/v/t39.30808-6/357738653_9671400779567544_6885862986041708915_n.png?_nc_cat=108&ccb=1-7&_nc_sid=e3f864&_nc_ohc=SnmalaiYFDoAX-WAN6H&_nc_ht=scontent.fsal5-1.fna&oh=00_AfDIIWLLCOoQs9LYT6WI6qcBq1wH6UfwsxxMIQ-2t6l5Xg&oe=64BCDEA0"
                        class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="https://scontent.fsal1-1.fna.fbcdn.net/v/t39.30808-6/292159694_7777151458992495_8646138872206251581_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=e3f864&_nc_ohc=vNIzEhhsZ-0AX-UJDDQ&_nc_ht=scontent.fsal1-1.fna&oh=00_AfDKfrzhaxlEQLArLm6MtR5P3dnJazMR7xqog4HEFLRc8w&oe=64BC683E"
                        class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://scontent.fsal1-1.fna.fbcdn.net/v/t39.30808-6/241336917_3492342434326566_1966902360100417147_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=e3f864&_nc_ohc=ufBMb351nLMAX-8nIXL&_nc_ht=scontent.fsal1-1.fna&oh=00_AfDiMY5uOnc-IuKU4-bK8k8kK4EDDHMdzF-N7jtbPzxYtg&oe=64BDBC6E"
                        class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <footer>
        <div class="row">
            <div class="footerContainer mt-2">
                <div class="socialIcons">
                    <h3><img src="assets/images/Elsalvador.png" alt="">El Salvador</h3>
                    <ul>
                        <a href="https://www.facebook.com/DollarcityElSalvador/?locale=es_LA" target="_blank"><i
                                class="fab fa-facebook"></i></a>
                        <a href="https://www.instagram.com/svdollarcity/?hl=es" target="_blank"><i
                                class="fab fa-instagram"></i></a>
                    </ul>
                </div>
                <div class="socialIcons">
                    <h3><img src="assets/images/Colombia.jpg" alt="">Colombia</h3>
                    <ul>
                        <a href="https://www.facebook.com/DollarcityColombia/?locale=es_LA" target="_blank"><i
                                class="fab fa-facebook"></i></a>
                        <a href="https://www.instagram.com/dollarcityco/?hl=es" target="_blank"><i
                                class="fab fa-instagram"></i></a>
                    </ul>
                </div>
                <div class="socialIcons">
                    <h3><img src="assets/images/Guatemala.png" alt="">Guatemala</h3>
                    <ul>
                        <a href="https://www.facebook.com/DollarcityGuatemala/" target="_blank"><i
                                class="fab fa-facebook"></i></a>
                        <a href="https://www.instagram.com/dollarcitygt/?hl=es" target="_blank"><i
                                class="fab fa-instagram"></i></a>
                    </ul>
                </div>
                <div class="socialIcons">
                    <h3><img src="assets/images/Peru.png" alt="">Perú</h3>
                    <ul>
                        <a href="https://www.facebook.com/DollarcityPeru/" target="_blank"><i
                                class="fab fa-facebook"></i></a>
                        <a href="https://www.instagram.com/dollarcitype/?hl=es" target="_blank"><i
                                class="fab fa-instagram"></i></a>
                    </ul>
                </div>
            </div>
            <div class="footerContainer">
                <div class="socialIcons">
                    <h3>Linkedin de Dollarcity</h3>
                    <ul>
                        <a href="https://www.linkedin.com/company/dollarcity" target="_blank"><i
                                class="fab fa-linkedin"></i></a>
                    </ul>
                </div>
            </div>
            <div class="footerbottom">
                <p>DOLLARCITY TRABAJA CON NAVEGADORES QUE POSEEN NIVELES DE SEGURIDAD EXIGIDOS PARA SER UTILIZADOS EN LA
                    CONEXIÓN CON EL SITIO WEB.
                    CON EL PROPÓSITO DE GARANTIZAR QUE UTILICES LAS VERSIONES COMPATIBLES, TE SUGERIMOS QUE ACTUALICES A
                    LA ÚLTIMA DISPONIBLE.
                    <span class="designer">© 2023 DOLLARCITY DERECHOS RESERVADOS</span>
                </p>
            </div>
        </div>
    </footer>

</div>
